@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Enigneer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)</h3>

@if(Model.JoinEntries.Count == 0)
{
  <p>This Enigneer has no machines they are licensed to repair</p>
}
else
{
  <h4>Machines this Enigneer can repair:</h4>
  @*<ul>
    @foreach(var join in Model.Machines)
    {
      <li>@join.Machine.MachineName</li>
    }
  </ul>*@
}

<ul>
  @foreach(var join in Model.JoinEntries)
  {
    <li>@join.Machine.MachineName</li>
    @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
      @Html.Hidden("joinId", @join.MachineEngineerId)
      <input type="submit" value="Delete"/>
    }
  }
</ul>
<p>@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>

